.btn {
  background-color: transparent;
  border: 2px solid $secondary-color-dark;
  padding: 0.8rem 2rem;
  border-radius: 0.5rem;
  color: $secondary-color-dark;
  font-size: 1.6rem;
  font-weight: 700;
  z-index: 5;
  cursor: pointer;
  position: relative;


  &:hover {
    color: $primary-color-dark;
    background-color: $secondary-color-dark;
  }
}
