.about {
  background-color: $primary-color-dark;
  display: flex;
  flex-direction: column;
  font-family: $font-titles-1;
  gap: 3rem;
  padding-top: 8rem;
  min-height: calc(100vh - 7.5rem);

  &-light{
    background-color: $primary-color-light;
  }

  @include for-tablet-portrait-up {
    padding-top: 10rem;
  }

  &__tl {
    display: flex;
    align-items: center;
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;

    &-title {
      font-size: 2.4rem;
      font-weight: 700;
      color: $secondary-color-dark;
    }

    &-line {
      width: 60%;
      height: 1px;
      background-color: $secondary-color-dark;
      margin-left: 1rem;

      @include for-tablet-portrait-up {
        height: 1px;
        width: 40%;
      }
    }

    &-desc {
      font-family: $font-titles;
      font-size: 1.6rem;
      font-weight: 100;
      line-height: 1.4;
      color: $white-color-dark;
      padding-bottom: 2rem;

      &-light{
        color: $black-color-light;
      }
    }

    @include for-tablet-landscape-up {
      flex-direction: row;

      &-title {
        font-size: 4rem;
        font-weight: 700;
      }

      &-desc {
        font-size: 2rem;
        font-weight: 300;
        line-height: 1.6;
        padding-right: 10rem;
      }
    }
  }

  &__img {
    width: 14rem;
    align-self: center;
    filter: grayscale(1);

    &:hover {
      filter: grayscale(0);
      transform: rotate(5deg);
      scale: 1.2;
    }

    @include for-tablet-landscape-up {
      width: 20rem;
    }
  }
}

.about__info-button{
      display: flex;
      gap: 1.6rem;
      justify-content: center;
      align-items: center;
}