.contact {
  background-color: $primary-color-dark;
  min-height: 50vh;
  font-family: $font-titles-1;
  padding-top: 5rem;
  padding-bottom: 5rem;

  @include for-tablet-landscape-up {
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 2rem;
  }

  &__send-message {
    @include for-tablet-landscape-up {
      grid-column-start: 1;
      grid-column-end: 2;
    }

    &-succeed {
      font-size: 2rem;
      font-weight: 300;
      color: $white-color-dark;
      padding-top: 2rem;
    }
  }

  &__get-info {
    @include for-tablet-landscape-up {
      grid-column-start: 2;
      grid-column-end: 3;
    }

    display: flex;
    flex-direction: column;
    width: 90%;
    color: $white-color-dark;
    align-items: flex-start;

    &-contact {
      font-size: 1.4rem;
      display: flex;
      flex-direction: column;
      gap: 1.6rem;
      padding-top: 1.6rem;

      @include for-tablet-portrait-up {
        font-size: 1.6rem;
      }
    }

    &-details {
      display: flex;
      align-items: center;
      gap: 1rem;
      font-weight: 500;
    }

    &-icons {
      color: $secondary-color-dark;
      font-size: 2rem;

      @include for-tablet-portrait-up {
        font-size: 2.4rem;
      }
    }
  }

  &__title {
    font-size: 2.4rem;
    color: $secondary-color-dark;
    padding-top: 4rem;
    padding-bottom: 2rem;

    @include for-tablet-portrait-up {
      font-size: 2.8rem;
    }

    @include for-tablet-landscape-up {
      font-size: 3rem;
    }
  }

  &__info {
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.5;
    color: $white-color-dark;

    @include for-tablet-portrait-up {
      font-size: 1.6rem;
      font-weight: 500;
    }
  }

  &__message {
    &-form {
      display: flex;
      flex-direction: column;
      background-color: $primary-color-dark;
    }

    &-list {
      background-color: $primary-color-dark;
      display: flex;
    }

    &-input {
      border-radius: 0.2rem;
      width: 100%;
      padding: 1rem 2rem;
      font-family: $font-titles-2;
      margin: 0.5rem;
      background-color: $white-color-dark;

      &:focus {
        outline-color: $secondary-color-dark;
        background-color: $white-color-dark;
      }

      &:-webkit-autofill,
      &:-webkit-autofill:hover,
      &:-webkit-autofill:focus,
      &:-webkit-autofill:active {
        box-shadow: 0 0 0 30px $white-color-dark inset !important;
      }

      &-error {
        font-size: 1.6rem;
        margin: 0.5rem;
        color: rgb(253, 66, 66);
      }
    }

    &-button {
      padding-top: 1.6rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
