.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 6rem;
  padding-bottom: 3rem;
  gap: 2rem;
  font-family: $font-titles-2;
}

.social-media-mobile {
  @include for-phone-only {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
  }

  @include for-tablet-portrait-up {
    display: none;
  }

  &__icon {
    color: $white-color-dark;
    font-size: 2.5rem;

    &-light{
      color: $black-color-light;
      font-size: 2.5rem;
      &:hover {
        color: #a3225e;
        scale: 1.5;
      }
    }

    &:hover {
      color: #a3225e;
      scale: 1.5;
    }
  }

  &-info {
    color: $white-color-dark;
    &-light{
      color: $black-color-light;
    }
  }
}
