.portfolio {
  background-color: $primary-color-dark;
  min-height: calc(100vh - 7.5rem);
  padding-top: 7rem;

  &-light {
    background-color: $primary-color-light;
  }

  &__tl {
    display: flex;
    align-items: center;
    padding-bottom: 1.6rem;
  }

  &__title {
    font-family: $font-titles-1;
    font-size: 2.4rem;
    font-weight: 700;
    color: $secondary-color-dark;

    @include for-tablet-portrait-up {
      font-size: 3rem;
    }

    @include for-tablet-landscape-up {
      font-size: 4rem;
    }
  }

  &__line {
    width: 60%;
    height: 1px;
    background-color: $secondary-color-dark;
    margin-left: 1rem;

    @include for-tablet-portrait-up {
      height: 1px;
      width: 40%;
    }
  }

  &__text {
    color: $white-color-dark;
    font-family: $font-titles;
    font-size: 1.6rem;
    padding-bottom: 2.4rem;

    &-light {
      color: $black-color-light;
    }

    @include for-tablet-portrait-up {
      font-size: 1.8rem;
    }

    @include for-tablet-landscape-up {
      font-size: 1.8rem;
    }
  }

  &-button {
    margin-top: 4rem;
  }

  &__card {
    /* background-color: #2b2b2b; */
    background-color: #15171f;
    margin: 0 0.5rem;
    border-radius: 1rem;

    &-light {
      /* background-color: #f9f8fd; */
      background-color: #f8fafc;
    }

    &-image {
      cursor: pointer;
      position: relative;
      display: flex;
      overflow: hidden;

      &-main {
        display: block;
        width: 100%;
        height: 25rem;
        border-radius: 1rem;
        object-fit: contain;
        padding: 0.5rem;
        transition: 0.5s ease;
        backface-visibility: hidden;

        @include for-tablet-portrait-up {
          height: 25rem;
          object-fit: contain;
          padding: 0.5rem;
        }
      }

      &-bg {
        transition: 0.5s ease;
        position: absolute;
        opacity: 0;
        transform: translate(-50%, -50%);
        text-align: center;
        top: 20rem;
        left: 10%;

        &-img {
          width: 8rem;
        }
      }

      &:hover .portfolio__card-image-main {
        filter: grayscale(0.3);
        transform: scale(1.1);
      }

      &:hover .portfolio__card-image-bg {
        opacity: 1;
      }
    }

    &-info {
      /* background-color: rgb(55, 63, 67); */

      /* background-color: rgb(30, 30, 30); */
      background-color: #1e2029;
      color: $white-color-dark;
      font-family: $font-titles;
      border-bottom-left-radius: 1rem;
      border-bottom-right-radius: 1rem;
      padding: 1.6rem 1.6rem;

      &-light {
        background-color: #fff;
        color: $black-color-light;
      }

      &-title {
        font-size: 2rem;
        font-weight: 900;
        padding-bottom: 1.6rem;
        color: $secondary-color-dark;

        @include for-tablet-portrait-up {
          font-size: 2.4rem;
        }

        @include for-tablet-landscape-up {
          font-size: 2.4rem;
        }
      }

      &-description {
        font-family: $font-titles;
        font-size: 1.4rem;
        line-height: 1.2;
        padding-bottom: 2rem;
        min-height: 8rem;

        @include for-tablet-portrait-up {
          font-size: 1.6rem;
          min-height: 8rem;
        }

        @include for-tablet-landscape-up {
          font-size: 1.6rem;
          min-height: 8rem;
        }
      }

      &-language {
        display: inline-block;
        font-family: $font-titles-2;
        font-size: 1.2rem;
        font-weight: 700;
        font-style: italic;
        margin-right: 0.5rem;
        color: $secondary-color-dark;
        border: 1px solid $secondary-color-dark;
        border-radius: 0.5rem;
        padding: 0.5rem 0.8rem;
      }

      &-links {
        padding-top: 1.6rem;
        font-size: 2.4rem;
        display: flex;
        gap: 2rem;

        &-a {
          color: $white-color-dark;

          &-light {
            color: #002245;
          }
        }

        &-icon {
          cursor: pointer;

          &:hover {
            color: $secondary-color-dark;
            scale: 1.5;
          }
        }
      }
    }
  }
}

.slick-prev::before,
.slick-next::before {
  color: $secondary-color-dark !important;
  display: none;
}

.slick-dots li button::before {
  color: $secondary-color-dark !important;
}

.slick-dots li.slick-active button::before {
  color: $white-color-dark !important;
}

@include for-tablet-portrait-up {
  .slick-prev {
    left: -4.5rem !important;
    right: -4rem !important;
  }

  .slick-prev::before,
  .slick-next::before {
    color: $secondary-color-dark !important;
    font-size: 4rem !important;
    display: inline-block;
  }

  .slick-dots li button::before {
    color: $secondary-color-dark !important;
  }

  .slick-dots li.slick-active button::before {
    color: $white-color-dark !important;
  }
}
