.about{
    background-color: $primary-color-dark;
    height: 80vh;
    display: flex;
    flex-direction: column;
    font-family: $font-titles;
    gap: 3rem;
    padding-top: 10rem;
    min-height: calc(100vh - 7.5rem);

    &__info{
        display: flex;
        align-items: flex-start;
        &-title{
            font-size: 4rem;
            font-weight: 700;
            color: $secondary-color-dark;
        }

        &-desc{
            font-size: 2rem;
            font-weight: 600;
            line-height: 1.6;
            color: $white-color-dark;
            padding-right: 10rem;
        }

    }

    &__img{
        width: 20rem;
        filter: grayscale(1);
        
        &:hover{
            filter: grayscale(0);
            transform: rotate(5deg);
            scale: 1.2; 
        }

    }
}