.contact{
    background-color: $primary-color-dark;
    min-height: 50vh;
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 2rem;
    font-family: $font-titles-1;
    padding-top: 5rem;
    padding-bottom: 5rem;

    &__send-message{
        grid-column-start: 1;
        grid-column-end: 2;
    }

    &__get-info{
        grid-column-start: 2;
        grid-column-end: 3;
        display: flex;
        flex-direction: column;
        width: 90%;
        color: $white-color-dark;
        align-items: flex-start;

        &-contact{
            font-size: 1.6rem;
            display: flex;
            flex-direction: column;
            gap: 1.6rem;
            padding-top: 1.6rem;
        }

        &-details{
            display: flex;
            align-items: center;
            gap: 1rem;
            font-weight: 500;
        }

        &-icons{
            color: $secondary-color-dark;
            font-size: 2.4rem;
        }

    }

    &__title{
        font-size: 3rem;
        color: $secondary-color-dark;
        padding-bottom: 2rem;
    }

    &__info{
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.5;
        color: $white-color-dark;
    }

    &__message{
        &-form{
            display: flex;
            flex-direction: column;
            background-color: $primary-color-dark; 
        }

        &-list{
            background-color: $primary-color-dark;
            display: flex; 
        }

        &-input{
            border-radius: 0.2rem;
            width: 100%;
            padding: 1rem 2rem;
            font-family: $font-titles-2;
            margin: 0.5rem;
            background-color: $white-color-dark;
        }

        &-button{
            padding-top: 1.6rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}