.hero{
    background-color: $primary-color-dark;
    min-height: calc(100vh - 7.5rem);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 10rem;
    gap: 1.6rem;
    font-family: $font-titles-1;

    &__title-1{
        font-size: 2.2rem;
        color: $secondary-color-dark;
    }
    &__title-2{
        font-size: 6rem;
        color: $white-color-dark;
    }
   
    &__description{
        font-size: 2rem;
        font-weight: 500;
        color: $white-color-dark;
        line-height: 1.6;
        padding-right: 46rem;
        padding-bottom: 1rem;
    }
}